﻿@model ElasticSearchSample.WEB.Models.SearchModel

<h4>Buscar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="buscar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Texto" class="control-label"></label>
                <input asp-for="Texto" class="form-control" />
                <span asp-validation-for="Texto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {

}
