﻿@model ElasticSearchSample.Core.ProductoResult

@{
    if (Model == null)
    {
        <div>No hay resultados</div>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Descripcion
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        Marca
                    </th>
                    <th>
                        Modelo
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Productos)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Precio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Marca)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Modelo)
                        </td>

                    </tr>
                }
            </tbody>


        </table>
        <span>Estadísticas</span>
        <ul>
            <li>Cantidad productos: @Model.Count </li>
            <li>Precio Mínimo: @Model.Min</li>
            <li>Precio Máximo: @Model.Max</li>
            <li>Precio Promedio: @Model.Avg</li>
        </ul>
        <span>Productos por marca</span>
        <ul>
            @foreach (var item in Model.Marcas)
            {
                <li>@item.Key - @item.Value </li>
            }


        </ul>
    }
}